@import "tailwindcss";

html {
  scroll-behavior: smooth;
}


body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}


.beenu-brand {
  color: #19521a;
}


.bg-brand {
  background-color: #19521a;
}


.hero {
  inline-size: 450px; /* Ancho deseado */
  block-size: 400px; /* Alto deseado */


  position: static;


  justify-content: center;
  align-items: center;
  display: flex;
  margin-block-start: 100px;
}


.hero img {
  position: static; /* Permite mover y recortar la imagen */
  inset-block-start: -30px; /* Ajusta esta propiedad para recortar la parte superior */
  inset-inline-start: 0px; /* Ajusta esta propiedad para recortar la parte izquierda */
  inline-size: auto; /* Mantiene la proporción de la imagen */
  block-size: auto; /* Mantiene la proporción de la imagen */
  min-inline-size: 100%; /* Asegura que la imagen cubra completamente el contenedor */
  min-block-size: 100%; /* Asegura que la imagen cubra completamente el contenedor */
  object-fit: cover; /* Cubre el área del contenedor manteniendo la proporción */
}


.about {
  inline-size: 450px; /* Ancho deseado */
  block-size: 400px; /* Alto deseado */


  position: static;


  justify-content: center;
  align-items: center;
  display: flex;
  margin-block-start: 100px;
}


.about img {
  position: static; /* Permite mover y recortar la imagen */
  inset-block-start: -30px; /* Ajusta esta propiedad para recortar la parte superior */
  inset-inline-start: 0px; /* Ajusta esta propiedad para recortar la parte izquierda */
  inline-size: auto; /* Mantiene la proporción de la imagen */
  block-size: auto; /* Mantiene la proporción de la imagen */
  min-inline-size: 100%; /* Asegura que la imagen cubra completamente el contenedor */
  min-block-size: 100%; /* Asegura que la imagen cubra completamente el contenedor */
  object-fit: cover; /* Cubre el área del contenedor manteniendo la proporción */
}


.shadow-effect {
  filter: drop-shadow(10px 10px 30px rgba(0, 0, 0, 0.5));
}
